/* CSS file for the information of the Societies */
/* Link Section */
#linksSection{
    width: 10%;
    float: left;
}
.tab{
    margin: 2.2vw 0vw;
}
.tab > span{
    font-size: 1.3vw;
}
.tab > a{
    width: 120%;
    font-size: 1.25vw;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    padding: 1vw 0.5vw;
    margin-left: -17.5%;
    border-radius: 2rem;
    color: #ffffff;
    text-align: right;
}
#Hyperion a{
    background-color: #ff2424;
}
#Chanakya a{
    background-color: #12d87f;
}
#Conundrum a{
    background-color: #8263ff;
}
#Diversity a{
    background-color: #7c7860;
}
#Impressions a{
    background-color: #ffae4c;
}
#Iris  a{
    background-color: #2d2e2b;
}
#Navrang a{
    background-color: #ff3769;
}
#Raaga a{
    background-color: #cfff41;
}
#Rapbeats a{
    background-color: #2eff3c;
}
#Rudra a{
    background-color: #6d6d6d;
}
#Techwhiz a{
    background-color: #3a3aff;
}
@media screen and (max-width: 850px){
    #linksSection{
        display: none;
    }
} 

/* Left Section */
#leftSection{
    width: 63%;
    float: left;
    padding: 0vw 1vw;
}
@media screen and (max-width: 850px){

    #leftSection{
        width: 100%;
    }
}
/* Heading and Logos Section */
.headingLogos{
    width: 100%;
}
.logo1, .logo2{
    width: 25%;
    float: left;
    object-fit: contain;
}
.logo1 > img, .logo2 > img{
    display: block;
    width: 75%;
    margin: auto;
    height: 75%;
}
.infoHeading{
    width: 50%;
    text-align: center;
    float: left;
}
.infoHeading > h2{
    text-transform: uppercase;
    font-size: 4vw;
    letter-spacing: 0.01rem;
    font-weight: 700;
}
.infoHeading > h3{
    font-size: 2vw;
}
@media screen and (max-width: 850px){
    .infoHeading > h2{
        font-size: 5vw;
    }
    .infoHeading > h3{
        font-size: 3.2vw;
    }
}
@media screen and (max-width: 600px){
    .infoHeading > h2{
        font-size: 7vw;
    }
    .infoHeading > h3{
        font-size: 3.8vw;
    }
    .logo1 > img, .logo2 > img{
        width: 85%;
        height: 85%;    
    }
}
/* Introduction Paragraph */
.introParagraph{
    width: 100%;
    padding: 1vw;
    text-align: justify;
}
.introParagraph > p{
    font-size: 1.8vw;
    margin: 0.75vw 0;
}
@media screen and (max-width: 850px){
    .introParagraph > p{
        font-size: 2.5vw;
        margin: 1vw 0;
    }
}
@media screen and (max-width: 700px){
    .introParagraph > p{
        font-size: 3vw;
        margin: 1vw 0;
    }
}
@media screen and (max-width: 400px){
    .introParagraph > p{
        font-size: 3.3vw;
        margin: 1.3vw 0;
    }
}
/* Social Media Handles */
.followUsHeading{
    width: 100%;
    margin: 0.5vw;
}
.followUsHeading > h3{
    padding-left: 1vw;
    font-size: 2vw;
    font-weight: bold;
}
@media screen and (max-width: 700px){
    .followUsHeading > h3{
        font-size: 4vw;
    }
}
.mediaHeading{
    width: 100%;
}
.mediaHandle{
    width: 50%;
    text-align: center;
    float: left;
    vertical-align: middle;
    object-fit: contain;
}
.mediaHandle > a >img{
    width: 12%;
    height: 12%;
    margin: 0 0.3vw;
}
.mediaHandle > a{
    text-decoration: none;
}
.mediaHandle > a > span{
    text-align: center;
    color: #000000;
    font-size: 1.5vw;
    font-weight: bold;
    margin: auto;
}
@media screen and (max-width: 550px){
    .mediaHandle > a > span{
        font-size: 3vw;
    }
}
@media screen and (max-width: 400px){
    .mediaHandle > a > span{
        font-size: 3.5vw;
    }
}

/* Core Team Section CSS */
.coreHeading{
    width: 100%;
    margin: 0.5rem 0;
}
.coreHeading > h3{
    font-size: 2.5vw;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}
.name{
    font-size: 1.8vw;
    text-align: center;
}
.post{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 0.5vw 0vw;
}
@media screen and (max-width: 850px){
    .name{
        font-size: 3vw;
    }
    .post{
        font-size: 2.7vw;
    }
    .coreHeading > h3{
        font-size: 3.4vw;
    }
}
@media screen and (max-width: 500px){
    .name{
        font-size: 3.4vw;
    }
    .post{
        font-size: 3vw;
    }
    .coreHeading > h3{
        font-size: 3.7vw;
    }
}
.president, .vpresident{
    width: 100%;
    text-align: center;
}
.president > img, .vpresident > img{
    width: 20%;
    height: 20%;
    object-fit: contain;
    border-radius: 50%;
    margin: 0.2rem 0;
}
.secretary, .jsecretary{
    display: block;
    width: 40%;
    text-align: center;
    float: left;
    margin-top: -3%;
}

.jsecretary{
    float: right;
}
.secretary > img, .jsecretary > img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    border-radius: 50%;
    margin: 0.2rem 0;
}
.treasurer , .coordinator{
    margin: 0%;
    width: 30%;
    text-align: center;
    float: left;
}
.treasurer > img, .coordinator > img{
    width: 65%;
    height: 65%;
    object-fit: contain;
    border-radius: 50%;
    margin: 0.2rem 0;
}
.treasurer{
    float: left;
    margin-left: 16%;
}
.coordinator{
    margin-left: 2.5%;
}
@media screen and (max-width: 500px){
    .treasurer > img, .coordinator > img{
        width: 75%;
        height: 75%;
    }
    .secretary > img, .jsecretary > img{
        width: 60%;
        height: 60%;
    }
    .president > img, .vpresident > img{
        width: 25%;
        height: 25%;
    }
}

/* Right Section CSS */
#rightSection{
    width: 27%;
    float: left;
}
@media screen and (max-width: 850px){
    #rightSection{
        width: 100%;
        margin: 0.5rem 0;
    }
}
/* Principal Message and Achievements Section */
.rightBox{
    width: 90%;
    margin: auto;
    background-color: #a1a1a1;
    padding: 10% 4%;
    border-radius: 1.5vw;
    box-shadow: 0.5rem 0.5rem   rgba(0,0,0,0.5) ;
    overflow: hidden;
}
@media screen and (max-width: 850px){
    .rightBox{
        box-shadow: none;
    }
}
/* Principal Message Sections */
.principalSection{
    width: 100%;
}
.principalSection > h3{
    font-size: 2vw;
    font-weight: 800;
    margin: 1vw;
}
.principalImage{
    width: 70%;
    margin: 1rem;
    object-fit: scale-down;
}
.principalImage > img{
    display: block;
    margin: auto;
    max-width: 100%;
    object-fit: scale-down;
}
.principalMessage{
    margin: 1vw;
}

.principalMessage > p{
    font-size: 1.5vw;
    text-align: justify;
    margin: 1vw 0vw;
}
.principalMessage > p > a{
    font-size: 1.5vw;
}
@media screen and (max-width: 850px){
    .principalSection{
        width: 50%;
        float: left;
    }
    .principalSection > h3{
        font-size: 3vw;
        margin: 1.2vw;
    }
    .principalImage{
        width: 40%;
        margin: 1rem;
    }
    .principalMessage > p{
        font-size: 2.2vw;
    }
    .principalMessage > p > a{
        font-size: 2vw;
    }
}
@media screen and (max-width: 450px){
    .principalSection{
        width: 100%;
    }
    .principalSection > h3{
        font-size: 3.5vw;
        margin: 1.5vw;
    }
    .principalImage{
        width: 50%;
        margin: 1rem;
    }
    .principalMessage > p{
        font-size: 3vw;
    }
    .principalMessage > p > a{
        font-size: 2.5vw;
    }
}
/* Achievement Sections */
.achievementsSection > h3{
    font-size: 2vw;
    font-weight: 800;
    margin: 1vw;
}
.achievementsSection > h4{
    font-size: 1.5vw;
    font-weight: 500;
    margin: 1vw;
}
.achievementList{
    width: 90%;
    margin: auto;
}
.achievementList ul{
    background-color: #c1c1c1;
    border: #000000 solid 2px;
    height: 25vw;
    overflow: hidden;
}
.achievementList ul li{
    list-style-type: none;
    font-size: 1.2vw;
    padding: 0.5vw; 
    border-bottom: #313131 dotted 1px ;
}
.achievementList > a{
    font-size: 1.7vw;
    margin: 0.4rem 0;
    float: right;
}
.achievementGallery{
    position: relative;
    width: 90%;
    height: 12vw;
    border: #000000 1px solid;
    margin: auto;
}
.aSlide{
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    object-fit: scale-down;
}
.aSlide > img{
    max-height: 100%;
    display: block;
    margin: auto;
    overflow: hidden;
    object-fit: scale-down;
}
.aPrev, .aNext{
    color: #ffffff;
    top: 37%;
    cursor: pointer;
    position: absolute;
    font-size: 1.2vw;
    padding: 0.5vw;
    background-color: #313131;
}
.aNext{
    right: 0%;
}
@media screen and (max-width: 850px){
    .achievementsSection{
        width: 50%;
        float: left;
    }
    .achievementsSection > h3{
        font-size: 3vw;
        margin: 1.2vw;
    }
    .achievementsSection > h4{
        font-size: 2vw;
        display: none;
        margin-bottom: 1vw;
    }
    .achievementList{
        width: 80%;
        margin: auto;
    }
    .achievementList ul{
        height: 30vw;
        overflow: hidden;
        margin-top: 1vw;
    }
    .achievementList ul li{
        font-size: 1.7vw;
    }
    .achievementList > a{
        font-size: 2.2vw;
    }
    .achievementGallery{
        position: relative;
        width: 70%;
        height: 16vw;
    }   
}
@media screen and (max-width: 450px){
    .achievementsSection{
        width: 100%;
    }
    .achievementsSection > h3{
        font-size: 3.5vw;
        margin: 1.5vw;
    }
    .achievementList{
        width: 75%;
        margin: auto;
    }
    .achievementList ul{
        height: 35vw;
        overflow: hidden;
        margin-top: 1.5vw;
    }
    .aSlide > img{
        max-height: 100%;
    }
    .achievementList ul li,.achievementList ul li >sup{
        font-size: 3vw;
    }
    .achievementList > a{
        font-size: 2.8vw;
    }
    .achievementGallery{
        position: relative;
        width: 70%;
        height: 30vw;
    }   
    
}
/* Society Gallery Section */

#societyGallerySection{
    width: 100%;
}
.societyGallery{
    width: 90%;
    margin: 2% 5%;
    height: 35vw;
    position: relative;
    object-fit: contain;
}
.societySlider{
    width: 100%;
    height: 100%;
    display: none;
    object-fit: contain;
    overflow: hidden;
    text-align: center;
}
.societySlider > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.socPrev, .socNext{
    position: absolute;
    font-size: 3vw;
    color: #ffffff;
    background-color: #a1a1a1;
    padding: 2.5vw;
    border-radius: 1.5vw;
    top: 37%;
    cursor: pointer;
}
.socPrev{
    left: 2%;
}
.socNext{
    right: 2%;
}
.socPrev:hover, .socNext:hover{
    background-color: #000000;
    color: #ffffff;
}

